/*homework code: .inline-block {
    display: inline-block;
    vertical-align: top;
}*/

body {
    background-color: black;
}

.logo {
    padding: 1%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 40%;
}

#navContainer {
    display: inline-block;
    position: fixed;
    width: 66px;
    height: 100%;
    top: 0;
    left: 0;
    background: #C9DAF8;
    box-sizing: border-box;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
nav {
    /*homework code: width: 73%;*/
    width: 64px;
    height: 99%;
    background-color: black;
    position: fixed;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}

/*nav > ul {
    width: 50%;
    margin-left: auto; 
}*/

.heroImg {
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
    float: right;
    background-color: black;
}

.content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    font-family: 'Orbitron';
    font-size: 64px;
    color: white;
    text-shadow: 0 0 10px #E69138, 0 0 20px #E69138, 0 0 30px #E69138, 0 0 40px #E69138, 0 0 50px #E69138;
}

.content p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.content button {
    font-family: 'Montserrat';
    font-size: 14px;
    width: 250px;
    margin-top: 5%;
}

footer {
    background-color: black;
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    outline: 3px solid #C9DAF8;
    /*clip-path: polygon(64px 75%, 100% 75%, 100% 100%, 0% 100%);*/
}

footer ul {
    /*homework code: vertical-align: top;*/
    padding: 1%;
    width: 50%;
    height: 65px;
    margin-left: auto;
    margin-right: 5%;
    display: block;
}

#portTagline {
    font-family: 'Orbitron';
    font-size: 48px;
    color: #E69138;
    text-align: center;
}

.skills h2 {
    font-family: 'Orbitron';
    font-size: 48px;
    color: #E69138;
    text-align: center;
}

.work h2 {
    font-family: 'Orbitron';
    font-size: 48px;
    color: #E69138;
    text-align: center;
}

li {
    font-family: 'Orbitron';
    font-size: 14px;
    color: #C9DAF8;
}

nav ul li {
    text-align: center;
    margin-bottom: 20%;
    padding: 1%;
}

footer ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    margin-right: 1%;
}

footer p {
    float: right;
    font-family: 'Montserrat';
    font-size: 14px;
    justify-content: flex-end;
    margin-right: 1%;
    color: #C9DAF8;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon {
    margin-right:-1%;
    color: #C9DAF8;
}
/*HW 18*/
section {
    margin-bottom: 10%;
    width: 100%;
    float: right;
}
/*Work Section*/
.work {
    float: right;
}
.workGrid {
    height: 512px;
    width: 71.1%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 64px auto;
    grid-template-areas:
        "tabGrid projInfoGrid";
    outline: 3px solid #C9DAF8;
  }
  .tabGrid {
    grid-area: tabGrid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.projInfoGrid {
    grid-area: projInfoGrid;
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "projImg projInfo";
  }
  .projInfo {
    grid-area: projInfo;
    display: grid;
    align-content: center;
    justify-content: stretch;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "projTitle"
      "projTagline"
      "projSkills"
      "goToProj";
  }
  .tab {
    text-align: center;
    padding-top: 75%;
    outline: 3px solid #C9DAF8;
  }
  .tab:hover {
    cursor: pointer;
  }
  .projImg {
    grid-area: projImg;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .projTitle {
    grid-area: projTitle;
  }
  .projTagline {
    grid-area: projTagline;
  }
  .projSkills {
    grid-area: projSkills;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
  }
  .projSkills ul {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
  }
  .projSkills li {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
  }
  .goToProj {
    grid-area: goToProj;
  }
h3 {
    font-family: 'Orbitron';
    font-size: 24px;
    color: #E69138;
}
.workGrid p {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
}
.selected {
    background-color: #C9DAF8;
    outline: 3px solid #C9DAF8;
}
#proj2 {
    display: none;
    grid-area: projInfoGrid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "projImg projInfo";
}
#proj3 {
    display: none;
    grid-area: projInfoGrid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "projImg projInfo";
}
#proj4 {
    display: none;
    grid-area: projInfoGrid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "projImg projInfo";
}
/*Skills Section*/
.flexContainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 71.1%;
    height: 512px;
}
.column {
    width: 25%;
    text-align: center;
    outline: 3px solid #C9DAF8;
}
#dropGD {
    display: none;
}
#dropRes {
    display: none;
}
#dropUIDes {
    display: none;
}
#dropSoft {
    display: none;
}
.flexContainer .category {
    outline: 3px solid #C9DAF8;
}
.category:hover {
    cursor: pointer;
}
.flexContainer p {
    font-family: 'Orbitron';
    font-size: 24px;
    color: #E69138;
}
.flexContainer li {
    margin-right: 25%;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #C9DAF8;
}
/*loading screen!*/
.preloader {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: black;
    top: 0;
    display: flex;
    align-items: center;
  }
  .preloader img {
    animation: scale 3.5s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
  }  
  @keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0, 1);
    }
    50% {
        transform: scale(-1, 1);
    }
    75% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(1, 1);
    }
  }
/*media query*/
@media only screen and (max-width: 600px) {
    /*work section*/
    .tab {
        text-align: center;
        padding-top: 25%;
        outline: 3px solid #C9DAF8;
      }  
    .tab1 {
          grid-area: tab1;
      }
      .tab2 {
        grid-area: tab2;
    }
    .tab3 {
        grid-area: tab3;
    }
    .tab4 {
        grid-area: tab4;
    }
    .selected {
        background-color: #C9DAF8;
        outline: 3px solid #C9DAF8;
    }
      .tabGrid {
        grid-area: tabGrid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "tab1 tab2 tab3 tab4";
    }
      .workGrid {
        height: 100%;
        width: 71.1%;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 64px 1fr;
        grid-template-areas:
            "tabGrid"
            "projInfoGrid";
        outline: 3px solid #C9DAF8;
      }
      .projInfoGrid {
        grid-area: projInfoGrid;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto;
        grid-template-areas:
          "projImg" 
          "projInfo";
      }
      .projImg {
        grid-area: projImg;
        padding: 5%;
        display: grid;
        align-content: start;
        justify-content: center;
      }
      .projInfo {
        grid-area: projInfo;
        display: grid;
        height: 100%;
        justify-content: center;
        align-content: space-around;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "projTitle"
          "projTagline"
          "projSkills"
          "goToProj";
      }
      #proj2 {
        display: none;
        grid-area: projInfoGrid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto;
        grid-template-areas:
          "projImg" 
          "projInfo";
    }
    #proj3 {
        display: none;
        grid-area: projInfoGrid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto;
        grid-template-areas:
          "projImg" 
          "projInfo";
    }
    #proj4 {
        display: none;
        grid-area: projInfoGrid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto;
        grid-template-areas:
          "projImg" 
          "projInfo";
    }
    .projTitle {
        grid-area: projTitle;
        text-align: center;
      }
      .projTagline {
        grid-area: projTagline;
        text-align: center;
      }
      .projSkills {
        grid-area: projSkills;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        color: #C9DAF8;
      }
      .projSkills ul {
        font-family: 'Montserrat';
        font-size: 14px;
        color: #C9DAF8;
      }
      .projSkills li {
        font-family: 'Montserrat';
        font-size: 14px;
        color: #C9DAF8;
      }
      .goToProj {
        grid-area: goToProj;
        margin-left: auto;
        margin-right: auto;
}
/*skills section*/
.flexContainer {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: auto;
    width: 71.1%;
    height: 512px;
}
.category {
    display: grid;
    grid-template-rows: 1fr 1fr 25px;
    grid-template-columns: 1fr;
    height: 150px;
}
.category p {
    font-size: 14px;
}
.skillset {
    overflow: auto;
}
.skillset li {
    font-size: 12px;
    width: 100%;
}
.caret {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.skillIcon {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
/*footer section*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer .text {
    display: none;
}
footer ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.icon {
    align-items: baseline;
}
}
